@page "/account/login"

<MudContainer Style="display: block; position: center; top: 200; bottom: 0; left: 0; right: 0; width: 400px; height: 200px; margin: auto;">
    <h1 class="card-header">Welcome to LitChat!</h1>
    <EditForm Model="@loginRequest" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        <MudCard>
            <MudCardContent>
                <MudTextField Label="Email" Class="mt-3"
                              @bind-Value="loginRequest.Email" For="@(() => loginRequest.Email)" />
                <MudTextField Label="Password" Class="mt-3"
                              @bind-Value="loginRequest.Password" For="@(() => loginRequest.Password)" InputType="InputType.Password" />
            </MudCardContent>
            <MudCardActions>
                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Success" Size=Size.Medium Class="ml-auto">Login</MudButton>
                <MudSpacer />
                <MudButton ButtonType="ButtonType.Button" Variant="Variant.Filled" OnClick=@(()=>Forgot()) Color="Color.Warning" Size=Size.Small Class="ml-auto">Forgot password</MudButton>
                <MudSpacer />
                <MudButton ButtonType="ButtonType.Button" Variant="Variant.Filled" OnClick=@(()=>Register()) Color="Color.Primary" Size=Size.Medium Class="ml-auto">Register</MudButton>
            </MudCardActions>
            <MudSpacer />
            <MudProgressLinear Color="Color.Primary" Indeterminate=loading />
        </MudCard>
        @if (!string.IsNullOrEmpty(error))
        {
                <div class="alert alert-danger mt-3 mb-0">@error</div>
        }
    </EditForm>
</MudContainer>
@code {
    private AuthAccount loginRequest { get; set; } = new AuthAccount();
    private bool loading;
    private string error;

    protected void Register()
    {
        _navigationManager.NavigateTo("/account/register");
    }
    protected void Forgot()
    {
        _navigationManager.NavigateTo("/account/forgot-password");
    }
    private async void HandleValidSubmit()
    {
        loading = true;
        try
        {
            await _accountService.Login(loginRequest);
            var returnUrl = _navigationManager.QueryString("returnUrl") ?? "/chat";
            _navigationManager.NavigateTo(returnUrl);
        }
        catch (Exception ex)
        {
            error = ex.Message;
            loading = false;
            StateHasChanged();
        }
    }
}
